<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../jars/spring-web-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../jars/spring-webmvc-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>